<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.twitch">
        <!-- ==================== Login ==================== -->
        <category id="login" label="30127" help="">
            <group id="0" label="30310">
                <setting id="is_device_authenticated" type="boolean" label="" help="">
                    <level>0</level>
                    <default>false</default>
                    <visible>false</visible>
                    <control type="toggle"/>
                </setting>
                <setting id="device_auth_connect" type="action" label="30314" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=device_auth)</data>
                    <dependencies>
                        <dependency type="visible" setting="is_device_authenticated">false</dependency>
                    </dependencies>
                </setting>
                <setting id="device_auth_disconnect" type="action" label="30315" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=device_auth_disconnect)</data>
                    <dependencies>
                        <dependency type="visible" setting="is_device_authenticated">true</dependency>
                    </dependencies>
                </setting>
                <setting id="revoke_token" type="action" label="30227" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=revoke_token)</data>
                    <dependencies>
                        <dependency type="visible" setting="is_device_authenticated">true</dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="1" label="30280">
                <setting id="twitch_client_id" type="string" label="30281" help="30321">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="twitch_client_secret" type="string" label="30330" help="30331">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" hidden="true"/>
                </setting>
            </group>
            <group id="2" label="30282">
                <setting id="twitch_hevc_token" type="string" label="30279" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
            </group>
            <!-- Hidden settings managed internally via setSetting/getSetting.
                 Must be defined here for Kodi 21+ (Omega) to persist them properly. -->
            <group id="3" label="">
                <setting id="oauth_token_helix" type="string" label="" help="">
                    <level>0</level>
                    <default/>
                    <visible>false</visible>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="device_refresh_token" type="string" label="" help="">
                    <level>0</level>
                    <default/>
                    <visible>false</visible>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="device_token_expires_at" type="string" label="" help="">
                    <level>0</level>
                    <default/>
                    <visible>false</visible>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
            </group>
        </category>

        <!-- ==================== Main Menu ==================== -->
        <category id="mainmenu" label="30219" help="">
            <group id="1" label="30219">
                <setting id="menu_browse_live" type="boolean" label="30009" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_browse_games" type="boolean" label="30001" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_following" type="boolean" label="30002" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_search" type="boolean" label="30003" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_settings" type="boolean" label="30004" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="30002">
                <setting id="menu_following_live" type="boolean" label="30009" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_following_channels" type="boolean" label="30008" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_following_games" type="boolean" label="30001" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3" label="30003">
                <setting id="menu_search_streams" type="boolean" label="30125" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_search_channels" type="boolean" label="30008" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_search_games" type="boolean" label="30001" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="menu_search_url" type="boolean" label="30124" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>

        <!-- ==================== Video Quality ==================== -->
        <category id="video" label="30076" help="">
            <group id="1" label="30040">
                <setting id="video_quality" type="integer" label="30040" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30102">0</option>
                            <option label="30136">1</option>
                            <option label="30201">2</option>
                            <option label="30254">3</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="bandwidth" type="integer" label="30201" help="" parent="video_quality">
                    <level>1</level>
                    <default>2500000</default>
                    <constraints>
                        <minimum>100000</minimum>
                        <maximum>50000000</maximum>
                        <step>100000</step>
                    </constraints>
                    <control type="edit" format="integer"/>
                    <dependencies>
                        <dependency type="visible" setting="video_quality">2</dependency>
                        <dependency type="enable" setting="video_quality">2</dependency>
                    </dependencies>
                </setting>
                <setting id="source_frame_rate_limit" type="integer" label="30263" help="" parent="video_quality">
                    <level>1</level>
                    <default>0</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>60</maximum>
                        <step>30</step>
                    </constraints>
                    <control type="slider" format="integer"/>
                    <dependencies>
                        <dependency type="visible" setting="video_quality">0</dependency>
                        <dependency type="enable" setting="video_quality">0</dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="2" label="30223">
                <setting id="video_support_ia_builtin" type="boolean" label="" help="">
                    <level>4</level>
                    <default>false</default>
                    <visible>false</visible>
                    <control type="toggle"/>
                </setting>
                <setting id="video_support_ia_addon" type="boolean" label="" help="">
                    <level>4</level>
                    <default>false</default>
                    <visible>false</visible>
                    <control type="toggle"/>
                </setting>
                <setting id="video_quality_ia" type="boolean" label="30223" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable">
                            <or>
                                <condition setting="video_support_ia_builtin">true</condition>
                                <condition setting="video_support_ia_addon">true</condition>
                            </or>
                        </dependency>
                    </dependencies>
                </setting>
                <setting id="video_quality_ia_configure" type="action" label="30224" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=configure_ia)</data>
                    <dependencies>
                        <dependency type="visible">
                            <and>
                                <condition setting="video_quality_ia">true</condition>
                                <condition setting="video_support_ia_addon">true</condition>
                            </and>
                        </dependency>
                        <dependency type="enable">
                            <and>
                                <condition setting="video_quality_ia">true</condition>
                                <condition setting="video_support_ia_addon">true</condition>
                            </and>
                        </dependency>
                    </dependencies>
                </setting>
            </group>
            <group id="3" label="30283">
                <setting id="low_latency" type="boolean" label="30283" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="live_reconnect" type="boolean" label="30210" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>

        <!-- ==================== Display ==================== -->
        <category id="display" label="30045" help="">
            <group id="1" label="30045">
                <setting id="title_display" type="integer" label="30045" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30046">0</option>
                            <option label="30047">1</option>
                            <option label="30048">2</option>
                            <option label="30049">3</option>
                            <option label="30051">4</option>
                            <option label="30067">5</option>
                            <option label="30054">6</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="title_truncate" type="boolean" label="30065" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="30255">
                <setting id="thumbnail_size" type="integer" label="30255" help="">
                    <level>0</level>
                    <default>2</default>
                    <constraints>
                        <options>
                            <option label="30102">0</option>
                            <option label="30256">1</option>
                            <option label="30257">2</option>
                            <option label="30258">3</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="refresh_interval" type="integer" label="30259" help="">
                    <level>1</level>
                    <default>10</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>180</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
            </group>
            <group id="3" label="30222">
                <setting id="vodcast_highlight" type="string" label="30222" help="">
                    <level>2</level>
                    <default>red</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <options>
                            <option label="aliceblue">aliceblue</option>
                            <option label="aqua">aqua</option>
                            <option label="blue">blue</option>
                            <option label="coral">coral</option>
                            <option label="crimson">crimson</option>
                            <option label="cyan">cyan</option>
                            <option label="darkblue">darkblue</option>
                            <option label="deeppink">deeppink</option>
                            <option label="gold">gold</option>
                            <option label="green">green</option>
                            <option label="hotpink">hotpink</option>
                            <option label="lime">lime</option>
                            <option label="magenta">magenta</option>
                            <option label="none">none</option>
                            <option label="orange">orange</option>
                            <option label="purple">purple</option>
                            <option label="red">red</option>
                            <option label="tomato">tomato</option>
                            <option label="violet">violet</option>
                            <option label="yellow">yellow</option>
                            <option label="white">white</option>
                        </options>
                    </constraints>
                    <control type="list" format="string"/>
                </setting>
            </group>
        </category>

        <!-- ==================== Lists & History ==================== -->
        <category id="lists" label="30167" help="">
            <group id="1" label="30123">
                <setting id="items_per_page" type="integer" label="30123" help="">
                    <level>0</level>
                    <default>25</default>
                    <constraints>
                        <minimum>10</minimum>
                        <maximum>100</maximum>
                        <step>5</step>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="search_history_size" type="integer" label="30236" help="">
                    <level>0</level>
                    <default>25</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>200</maximum>
                        <step>5</step>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="watch_history_size" type="integer" label="30284" help="">
                    <level>0</level>
                    <default>50</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>200</maximum>
                        <step>5</step>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
            </group>
            <group id="2" label="30191">
                <setting id="remove_default_stream_quality" type="action" label="30191" help="">
                    <level>1</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=edit_qualities&amp;remove=true&amp;content_type=stream)</data>
                </setting>
                <setting id="remove_default_video_quality" type="action" label="30192" help="">
                    <level>1</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=edit_qualities&amp;remove=true&amp;content_type=video)</data>
                </setting>
                <setting id="remove_default_clip_quality" type="action" label="30193" help="">
                    <level>1</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=edit_qualities&amp;remove=true&amp;content_type=clip)</data>
                </setting>
            </group>
            <group id="3" label="30194">
                <setting id="clear_default_stream_qualities" type="action" label="30194" help="">
                    <level>2</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=clear_list&amp;list_type=stream&amp;list_name=qualities)</data>
                </setting>
                <setting id="clear_default_video_qualities" type="action" label="30195" help="">
                    <level>2</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=clear_list&amp;list_type=video&amp;list_name=qualities)</data>
                </setting>
                <setting id="clear_default_clip_qualities" type="action" label="30196" help="">
                    <level>2</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=clear_list&amp;list_type=clip&amp;list_name=qualities)</data>
                </setting>
            </group>
        </category>

        <!-- ==================== Notifications ==================== -->
        <category id="notifications" label="30322" help="">
            <group id="1" label="30322">
                <setting id="live_notify" type="boolean" label="30323" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="live_notify_audible" type="boolean" label="30205" help="" parent="live_notify">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible" setting="live_notify">true</dependency>
                        <dependency type="enable" setting="live_notify">true</dependency>
                    </dependencies>
                </setting>
                <setting id="live_notify_at_start" type="boolean" label="30232" help="" parent="live_notify">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible" setting="live_notify">true</dependency>
                        <dependency type="enable" setting="live_notify">true</dependency>
                    </dependencies>
                </setting>
                <setting id="live_notify_group_start" type="boolean" label="30233" help="" parent="live_notify">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible" setting="live_notify_at_start">true</dependency>
                        <dependency type="enable" setting="live_notify_at_start">true</dependency>
                    </dependencies>
                </setting>
            </group>
        </category>

        <!-- ==================== Language & Localization ==================== -->
        <category id="language" label="30262" help="">
            <group id="1" label="30262">
                <setting id="change_language" type="action" label="30262" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=edit_languages&amp;action=change)</data>
                </setting>
            </group>
        </category>

        <!-- ==================== Cache & Proxy ==================== -->
        <category id="cache" label="30120" help="">
            <group id="1" label="30120">
                <setting id="refresh_cache" type="boolean" label="30234" help="">
                    <level>1</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="cache_expire_time" type="integer" label="30121" help="">
                    <level>1</level>
                    <default>3</default>
                    <constraints>
                        <minimum>0</minimum>
                        <maximum>60</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="reset_cache" type="action" label="30122" help="">
                    <level>1</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=reset_cache)</data>
                </setting>
            </group>
            <group id="2" label="30324">
                <setting id="proxy_enabled" type="boolean" label="30325" help="">
                    <level>2</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="proxy_host" type="string" label="30326" help="" parent="proxy_enabled">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                    <dependencies>
                        <dependency type="visible" setting="proxy_enabled">true</dependency>
                        <dependency type="enable" setting="proxy_enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="proxy_port" type="integer" label="30327" help="" parent="proxy_enabled">
                    <level>2</level>
                    <default>8080</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>65535</maximum>
                    </constraints>
                    <control type="edit" format="integer"/>
                    <dependencies>
                        <dependency type="visible" setting="proxy_enabled">true</dependency>
                        <dependency type="enable" setting="proxy_enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="proxy_username" type="string" label="30328" help="" parent="proxy_enabled">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                    <dependencies>
                        <dependency type="visible" setting="proxy_enabled">true</dependency>
                        <dependency type="enable" setting="proxy_enabled">true</dependency>
                    </dependencies>
                </setting>
                <setting id="proxy_password" type="string" label="30329" help="" parent="proxy_enabled">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string" hidden="true"/>
                    <dependencies>
                        <dependency type="visible" setting="proxy_enabled">true</dependency>
                        <dependency type="enable" setting="proxy_enabled">true</dependency>
                    </dependencies>
                </setting>
            </group>
        </category>

        <!-- ==================== IRC Chat ==================== -->
        <category id="irc" label="30081" help="">
            <group id="1" label="30081">
                <setting id="irc_enable" type="boolean" label="30052" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="enable" on="property" name="infobool">System.HasAddon(script.ircchat)</dependency>
                    </dependencies>
                </setting>
                <setting id="install_ircscript" type="action" label="30075" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=install_ircchat)</data>
                    <dependencies>
                        <dependency type="visible" on="property" name="infobool">!System.HasAddon(script.ircchat)</dependency>
                        <dependency type="enable" on="property" name="infobool">!System.HasAddon(script.ircchat)</dependency>
                    </dependencies>
                </setting>
            </group>
        </category>

        <!-- ==================== Maintenance ==================== -->
        <category id="maintenance" label="30243" help="">
            <group id="1" label="30244">
                <setting id="delete_streams_search" type="action" label="30245" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=maintain&amp;sub_mode=delete&amp;file_type=streams_search)</data>
                </setting>
                <setting id="delete_channels_search" type="action" label="30246" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=maintain&amp;sub_mode=delete&amp;file_type=channels_search)</data>
                </setting>
                <setting id="delete_games_search" type="action" label="30247" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=maintain&amp;sub_mode=delete&amp;file_type=games_search)</data>
                </setting>
                <setting id="delete_idurl_search" type="action" label="30248" help="">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=maintain&amp;sub_mode=delete&amp;file_type=id_url_search)</data>
                </setting>
            </group>
            <group id="2" label="30249">
                <setting id="delete_storage_json" type="action" label="30250" help="">
                    <level>1</level>
                    <control type="button" format="action"/>
                    <data>RunPlugin(plugin://$ID/?mode=maintain&amp;sub_mode=delete&amp;file_type=storage_json)</data>
                </setting>
            </group>
        </category>

        <!-- ==================== Developer ==================== -->
        <category id="developer" label="30118" help="">
            <group id="1" label="OAuth">
                <setting id="oauth_clientid" type="string" label="30097" help="">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="oauth_redirecturi" type="string" label="30142" help="">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
